<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">
    <title>GEND(R) Assistant V2</title>
</head>
<body>
    <fieldset class="advertissement">
        <legend><img src="{{ url_for('static', filename='img/warning.png') }}" alt="">Avertissement !</legend>
        <p>Confirmez la suppression de <strong>{{ person_name }}</strong> ?</p>
        <div class="buttons">
            <a class="confirmation" href="{{ url_for('delete_person', del_person=person_name, reload_inter_id=intervention_id) }}">Confirmer</a>
            <a class="abord" href="{{ url_for('delete_person', inter_id=intervention_id) }}">Annuler</a>
        </div>
    </fieldset>
</body>
</html>