<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_intervention.css') }}">
    <title>GEND(R) Assistant V2</title>
</head>
<body>
    <fieldset class="advertissement">
        <legend><img src="{{ url_for('static', filename='img/warning.png') }}" alt="">Avertissement !</legend>
        <p>Confirmez la suppression de l'intervention ?</p>
        <div class="buttons">
            <a class="confirmation" href="{{ url_for('delete', id=id) }}">Confirmer</a>
            <a class="abord" href="{{ url_for('homepage') }}">Annuler</a>
        </div>
    </fieldset>
</body>
</html>