{% extends "base.html" %}

{% block content %}
    <div class="title">
        <h3>Bienvenue sur Gend(R) Assistant V2</h3>
        <p>Gend(R) Assistant V2 est un outil conçu pour aider les utilisateurs à ne rien oublier sur intervention.</p>
        <p>Veuillez vous enregistrer ou vous connecter pour accéder aux fonctionnalités.</p>
    </div>

    <div class="buttons">
        <a href="/register" class="button">S'enregistrer</a>
        <a href="/login" class="button">Se connecter</a>
    </div>
{% endblock %}